.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wheel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 35.5px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.errors {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
}
